<template name="listProjectTasks">
	<section class="table-responsive">
		<p></p>

		{{#if tasks.count}}
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Tarefa</th>
						<!-- <th class="col-xs-1">Ações</th> -->
					</tr>
				</thead>

				<tbody>
					{{#each tasks}}
					<tr class="item pointer">
						<td>{{name}}</td>
						<!-- <td>...</td> -->
					</tr>
					{{/each}}
				</tbody>
			</table>
		{{else}}
			<p>Nenhuma tarefa foi cadastrada até o momento. Que tal <a href="{{pathFor 'newProjectTask'}}">cadastrar uma nova tarefa</a>?</p>
		{{/if}}
	</section>
</template>