<template name="projects">
	<section id="projects" class="well">
		<div class="row">
			<div class="col-sm-3">
				<h2>Projetos</h2>

				{{> listProjects projects=projects}}

				<section class="actions">
					<a href="{{pathFor 'newProject'}}" class="btn btn-primary col-xs-12">Novo projeto</a>

					<!-- <a href="{{pathFor 'newProject'}}" class="btn btn-primary btn-fab btn-raised mdi-content-add withripple pull-right">
						<div class="ripple-wrapper"></div>
					</a> -->
				</section>
			</div>

			<div class="col-sm-9">
				{{> yield 'content'}}
			</div>
		</div>
	</section>
</template>