body {
	padding-bottom: 60px;
}

h1, .h1 {
	height: auto !important;
	margin-bottom: 36px;
}

h2, .h2 {
	height: auto !important;
	margin-bottom: 30px;
}

h3, .h3 {
	height: auto !important;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.pointer {
	cursor: pointer;
}
