html {
	/* removes 300ms delay on windows phone 
	(for android and ios, there is a package solving it*/
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
	padding-bottom: 60px;
	background-color: #fff;
	color: @default-color-dark;
	overflow: visible;
	overflow-x: auto;
}

h1, .h1 {
	font-size: 30px;
	line-height: 60px;
	height: auto !important;
	margin: 0;
	padding: 0;
	letter-spacing: 1.5px;
}

h2, .h2 {
	font-size: 24px;
	line-height: 30px;
	height: auto !important;
	margin-bottom: 30px;
	padding: 0;
}

h3, .h3 {
	font-size: 20px;
	line-height: 24px;
	height: auto !important;
	margin-bottom: 24px;
	padding: 0;
}

h4, .h4 {
	font-size: 16px;
	line-height: 20px;
	height: auto !important;
	margin-bottom: 20px;
	padding: 0;
}

a, a:link {
	color: @theme-color;
}

a:focus, a:hover {
	color: darken(@theme-color, 20%);
	cursor: pointer;
	text-decoration: none;
}

input {
	background-color: transparent;

	&:hover {
		background-color: @dark-transparent-bg-hover;
	}

	&:focus {
		outline: none;
		// outline-color: @theme-color;
	}
}

::-webkit-input-placeholder { color: @text-muted-dark; opacity: 1; }
     :-ms-input-placeholder { color: @text-muted-dark; opacity: 1; }
         ::-moz-placeholder { color: @text-muted-dark; opacity: 1; }
          :-moz-placeholder { color: @text-muted-dark; opacity: 1; }

.pointer {
	cursor: pointer;
}

.noborder {
	border: none;
}

img.avatar {
	background-color: @dark-transparent-bg;

	&.avatar-sm {
		width: 30px;
		height: 30px;
	}

	&.avatar-56 {
		width: 56px;
		height: 56px;
	}

	&.avatar-md {
		width: 80px;
		height: 80px;
	}

	&.avatar-lg {
		width: 120px;
		height: 120px;
	}

	&.avatar-status {
		border: 4px solid @light-transparent-bg-2;
		box-shadow: 0 0 1px 1px #ccc;

		&.status-online {
			box-shadow: 0 0 1px 1px @green;
		}
	}
}

.status-icon {
	font-size: 42%;
	vertical-align: middle;
	color: #ccc;

	&.status-online {
		color: @green;
	}
}

table {
	td, th {
		height: 40px;
	}
}

.valign {
    display: table;
    height: 60px;

    > .content {
		display: table-cell;
		vertical-align: middle;
    }
}

.tooLate {
	color: #f44336;
}

.late {
	color: #ff5722;
}

.text-muted {
	color: @text-muted-dark;
}

.dark-theme {
	color: @default-color-light;

	&.text-muted, .text-muted { 
		color: @text-muted-light; 
	}

	&a, a {
		color: rgba(255, 255, 255, 0.8);

		&:hover {
			color: #fff;
		}
	}

	::-webkit-input-placeholder { color: @text-muted-light; opacity: 1; }
	     :-ms-input-placeholder { color: @text-muted-light; opacity: 1; }
	         ::-moz-placeholder { color: @text-muted-light; opacity: 1; }
	          :-moz-placeholder { color: @text-muted-light; opacity: 1; }
}

.light-theme {
	color: @default-color-dark;
	
	&.text-muted, .text-muted {
		color: @text-muted-dark;
	}
}