#main {
	position: relative;

	> section {
		min-height: 250px;
	}

	.done .strikable {
		text-decoration: line-through;
	}

	.item .checkbox {
		margin-top: -5px;
		margin-bottom: 5px;
	}
}

@media(max-width: 767px) { 
	#main {
		height: 100%;

		> * {
			height: 100%;
			margin: 0;
		}
	}
}