<template name="autocompleteCompanies">
  {{#textareaAutocomplete settings=settings id="autocomplete-input" name="company" class="form-control" placeholder="Nome da Empresa"}}{{/textareaAutocomplete}}
</template>

<template name="autocompleteCompanyName">
  {{name}} <small class="muted label label-primary"></small>
</template>

<template name="autocompleteCompanyId">
  {{_id}} <small class="muted">({{_id}})</small>
</template>

<template name="serverNoMatch1">
    <span class="text-danger">Nada encontrado para <b>{{getFilter}}</b>!</span>
</template>