<template name="autocompleteTasks">
  {{#inputAutocomplete type="text" value=value name="_assignedTo" placeholder="Responsável" data-ignore-change="true" settings=settings class="form-control input-md"}}{{/inputAutocomplete}}
</template>

<template name="autocompleteUserName">
  {{profile.name}} <small class="muted label label-primary"></small>
</template>

<template name="autocompleteUserId">
  {{_id}} <small class="muted">({{_id}})</small>
</template>

<template name="serverNoMatch">
    <span class="text-danger">Nada encontrado para <b>{{getFilter}}</b>!</span>
</template>