<template name="autocompleteTasks">
  {{#textareaAutocomplete settings=settings id="autocomplete-input" name="assignedTo" class="form-control" placeholder="@username"}}{{/textareaAutocomplete}}
</template>

<template name="serverCollectionPill">
  {{profile.name}} <small class="muted label label-primary"></small>
</template>

<template name="clientCollectionPill">
  {{type}} <small class="muted">({{_id}})</small>
</template>

<template name="serverNoMatch">
    <span class="text-danger">Nada encontrado para <b>{{getFilter}}</b>!</span>
</template>