<template name="listTasks">
	<section id="tasks-list" class="table-responsive col-xs-12">
		<form name="editTask">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="text-center"><i class="mdi-action-done"></i></th>
						<th class="col-xs-4">Tarefa</th>
						<th>Responsável</th>
						<th>Início</th>
						<th>Prazo</th>
						<th>Ações</th>
					</tr>
				</thead>

				<tbody>
					{{#each tasks}}
						{{> taskRow}}
					{{/each}}

					{{> taskRow newTask=true}}
				</tbody>
			</table>
		</form>
	</section>
</template>