<template name="listPeople">
	<section id="people-list" class="people-list">
		<div class="row">
			{{#each people}}
				<div class="item col-xs-6 col-sm-4">
					<a href="{{pathFor 'profile'}}" class="person center-block text-center">
						<p><img src="{{userAvatar this 80}}" class="avatar avatar-md img-circle"/></p>
						<p class="user-name h4" title="{{#if status.online}}Online{{else}}Último acesso: {{momentFromNow status.lastLogin.date}}{{/if}}">
							<i class="status-icon status-{{#if status.online}}online{{else}}offline{{/if}} mdi-image-brightness-1"></i>
							<span>{{profile.name}}</span>
						</p>
					</a>
				</div>
			{{/each}}
		</div>
	</section>
</template>