<template name="listPeople">
	<section id="people-list" class="list-view clearfix">
		{{#each people}}
			<a href="{{pathFor 'profile'}}" class="item clearfix">
				<div class="avatar-area">
					<img src="{{userAvatar this 56}}" class="avatar avatar-56 img-circle"/>
				</div>

				<div>
					<div class="title">{{profile.name}}</div>
					<div class="description text-muted">Posição na empresa</div>
				</div>
				
				<div class="text-right">
					{{#if status.online}}
						<em class="text-success">online</em>
					{{else}}
						<em class="text-muted">{{momentFromNow status.lastLogin.date}}</em>
					{{/if}}
				</div>
			</a>
		{{else}}
			<div class="clearfix">
				<p>Nenhuma pessoa por aqui :(</p>
			</div>
		{{/each}}
	</section>
</template>