<template name="listProjects">
	<section id="project-list" class="list-view">
		{{#each projects}}
			<a href="{{pathFor 'project'}}" class="item clearfix">
				<div class="pull-left">
					<div class="title">{{name}}</div>
					<div class="description text-muted">Descrição do projeto</div>
				</div>

				<div class="pull-right">
					{{> projectCompletedTasksChart}}
				</div>
			</a>
		{{else}}
			<div class="clearfix">
				<p>Nenhum projeto foi cadastrado até o momento. Que tal <a href="{{pathFor 'newProject'}}" class="newProject">cadastrar um novo projeto</a>?</p>
			</div>
		{{/each}}
	</section>
</template>

<template name="projectCompletedTasksChart">
	<canvas id="chart-{{_id}}" width="56" height="56" class="chart pull-right" data-project-id="{{_id}}" data-dummy="{{dummy}}"></canvas>
</template>