<template name="listProjects">
	<section id="project-list" class="list-view">
		{{#each projects}}
			<div class="item pointer {{#if isProjectSelected this._id}}selected{{/if}}">
				<section class="row">
					<div class="col-xs-8">
						<h3>{{name}}</h3>
					</div>

					<div class="col-xs-4">
						{{> projectCompletedTasksChart}}
					</div>
				</section>
			</div>
		{{else}}
			<div class="row">
				<div class="col-xs-12">
					<p>Nenhum projeto foi cadastrado até o momento. Que tal <a href="{{pathFor 'newProject'}}" class="newProject">cadastrar um novo projeto</a>?</p>
				</div>
			</div>
		{{/each}}
	</section>
</template>

<template name="projectCompletedTasksChart">
	<canvas id="chart-{{_id}}" width="56" height="56" class="chart pull-right" data-project-id="{{_id}}" data-dummy="{{dummy}}"></canvas>
</template>