<template name="listProjects">
	<section id="project-list" class="list-view">
		{{#each projects}}
			<a href="{{pathFor 'project'}}" class="item clearfix">
				<div>
					<div class="title">{{name}}</div>
					<div class="description text-muted">Descrição do projeto</div>
				</div>

				<div class="actions text-right">
					{{> projectCompletedTasksChart projectId=_id size=30 class='pull-right'}}
					
					<a href="{{pathFor 'company' _id=companyId}}">
						<img src="{{companyAvatar companyId 30}}" class="avatar avatar-sm img-circle pull-right"/>
					</a>

					<a href="{{pathFor 'profile' _id=createdBy}}">
						<img src="{{userAvatar createdBy 30}}" class="avatar avatar-sm img-circle pull-right"/>
					</a>
				</div>
			</a>
		{{else}}
			<div class="clearfix">
				<p>Nenhum projeto foi cadastrado até o momento. Que tal <a href="{{pathFor 'newProject'}}" class="newProject">cadastrar um novo projeto</a>?</p>
			</div>
		{{/each}}
	</section>
</template>