<template name="listTasksEditable">
	<section id="tasks-list">
		<form name="editTask" class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="task-col-checkbox"></th>
						<th class="task-col-name">Tarefa</th>
						<th class="task-col-assignedTo">Responsável</th>
						<th class="task-col-date">Início</th>
						<th class="task-col-date">Prazo</th>
						<th class="task-col-actions"></th>
					</tr>
				</thead>

				<tbody>
					{{#each tasks}}
						{{> taskRowEditable}}
					{{/each}}

					{{> taskRowEditable newTask=true}}
				</tbody>
			</table>
		</form>
	</section>
</template>

<template name="taskRowEditable">
	<tr class="item task-item {{#if checked}}done{{/if}} {{#if newTask}}newTask{{/if}}">
		<td class="task-col-checkbox text-center">
			{{#if newTask}}
				<i class="mdi-content-add"></i>
			{{else}}
				<div class="checkbox">
					<label>
						<input type="checkbox" name="checked" {{checkboxInput checked}}/>
						<span class="check"></span>
					</label>
				</div>
			{{/if}}
		</td>
		
		<td class="task-col-name strikable">
			<input type="text" name="name" class="form-control input-md" value="{{name}}" placeholder="{{#if newTask}}Nova tarefa{{/if}}"/>
		</td>
		
		{{#if newTask}}
		 	<td colspan="3"></td>
		{{else}}
			<td class="task-col-assigned-to strikable">
				<input type="hidden" name="assignedTo" value="{{assignedTo}}"/> 

				{{#with loadUser assignedTo}}
					{{> autocompleteAssignedTo value=profile.name}}
				{{else}}
					{{> autocompleteAssignedTo}}
				{{/with}}
			</td>
			<td class="task-col-date task-col-start-date strikable">
				<input type="date" name="startDate" value="{{dateInput startDate}}"/>
			</td>

			<td class="task-col-date task-col-end-date strikable">
				<input type="date" name="endDate" value="{{dateInput endDate}}"/>
			</td>

			<td class="task-col-actions">
				<i class="mdi-action-delete delete-task"></i>
			</td>
		{{/if}}
	</tr>
</template>