<template name="company">
	<section id="company">
		<header class="page-header clearfix {{themeClass}}">
			<div class="container">
				<div class="page-header--icon pull-left valign">
					<div class="content">
						<img src="{{companyAvatar this 120}}" class="avatar avatar-lg img-circle"/>
					</div>
				</div>

				<div class="page-header--info pull-left valign">
					<div class="content">
						<h1 id="profile-name" class="profile-name">{{name}}</h1>
						<a href="http://facebook.com/{{facebookId}}" target="_blank" class="h4 profile-address text-muted">facebook.com/{{facebookId}}</a>
					</div>
				</div>
				
				<div class="page-header--actions pull-right valign">
					<div class="content">
						<div class="company-association {{#if isMyCompany}}associated{{/if}}">
							<button id="associateToCompany" type="button" class="btn btn-primary btn-fab btn-raised withripple mdi-communication-vpn-key" title="Entrar nesta empresa"></button>
							<button id="disassociateFromCompany" type="button" class="btn btn-primary btn-fab btn-raised withripple mdi-content-remove" title="Sair desta empresa"></button>
						</div>
					</div>
				</div>

				<div class="page-header--navigation tab-view">
					<ul class="tab-row">
						<li class="tab-item {{isActiveRoute 'company'}}">
							<a href="{{pathFor 'company'}}">
								<p>Sobre</p>
							</a>
						</li>

						{{#if isMyCompany _id}}
							<li class="tab-item {{isActiveRoute 'companyProjects'}}">
								<a href="{{pathFor 'companyProjects'}}">
									<p><strong>{{projectsCount}}</strong></p>
									<p class="text-muted">Projetos</p>
								</a>
							</li>
						{{/if}}

						<li class="tab-item {{isActiveRoute 'companyPeople'}}">
							<a href="{{pathFor 'companyPeople'}}">
								<p><strong>{{membersCount}}</strong></p>
								<p class="text-muted">Membros</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>

		<section class="clearfix">
			<div class="container">
				{{> yield 'content'}}
			</div>
		</section>
	</section>
</template>