<template name="login">
	<section id="login" class="light-theme">
		<div class="col-sm-6 col-sm-offset-3">
			<header>
				<div class="row">
					<div class="col-xs-8">
						<h1 class="title">
							{{#if isSignup}}
								Criar uma conta
							{{else}}
								Entrar
							{{/if}}
						</h1>
					</div>

					<section class="col-xs-4">
						<div id="avatar-area" class="pull-right">
							<a href="http://gravatar.com/" target="_blank">
								<img src="{{avatar}}" class="avatar avatar-md img-circle pull-right" title="Clique para alterar seu avatar no site gravatar.com" />
							</a>

							{{#if company}}
								<img src="{{facebookAvatar company.facebookId 80}}" class="avatar avatar-md img-circle pull-right" alt="{{company.name}}" title="{{company.name}}"/>
							{{/if}}
						</div>
					</section>
				</div>
			</header>

			<form name="{{#if isSignup}}signup{{else}}login{{/if}}" role="form">
				{{#if isSignup}}
					<div class="form-group">
						<label for="name">Nome</label>
						<div class="form-control-wrapper">
							<input type="text" name="name" placeholder="Seu nome" class="form-control input-lg empty" required/>
						</div>
					</div>
				{{/if}}

				<div class="form-group">
					<label for="email">E-mail</label>
					<div class="form-control-wrapper">
						<input type="email" name="email" placeholder="Seu e-mail" class="form-control input-lg empty" required/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="password">Senha</label>
					<div class="form-control-wrapper">
						<input type="password" name="password" placeholder="Senha" class="form-control input-lg empty" required pattern=".{6,}"/>
					</div>
				</div>

				<section class="actions form-group">
					{{#if isSignup}}
						<p><button type="submit" class="btn btn-success btn-lg btn-block">Cadastrar</button></p>
						<p class="text-center">Já é cadastrado? <a href="{{pathFor 'login'}}">Entrar</a></p>
					{{else}}
						<p><button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button></p>
						<p class="text-center">Ou <a href="{{pathFor 'signup'}}">Criar uma conta</a></p>
					{{/if}}
					{{query}}
				</section>
			</form>
		</div>
	</section>
</template>
