<template name="profile">
	<section id="profile">
		<header class="page-header clearfix dark-theme">
			<div class="container">
				<div class="page-header--icon pull-left valign">
					<div class="content">
						{{#if isThisMe _id}}
							<a href="http://gravatar.com/" target="_blank">
								<img src="{{userAvatar this 120}}" class="avatar avatar-lg img-circle"/>
							</a>
						{{else}}
							<img src="{{userAvatar this 120}}" class="avatar avatar-lg img-circle"/>
						{{/if}}
					</div>
				</div>

				<div class="page-header--info pull-left valign">
					<div class="content">
						{{#if isThisMe _id}}
							<input type="text" id="profile-name" name="name" class="profile-name h2 noborder" value="{{profile.name}}" />
							<p class="h4 profile-address text-muted">{{emails.[0].address}}</p>
						{{else}}
							<h2 id="profile-name" class="profile-name">
								<i class="status-icon status-{{#if status.online}}online{{else}}offline{{/if}} mdi-image-brightness-1"></i>
								<span>{{profile.name}}</span>
							</h2>

							<p class="h4 profile-address text-muted">{{emails.[0].address}}</p>
						{{/if}}
					</div>
				</div>

				<div class="page-header--navigation tab">
					<ul class="tab-row">
						<li class="tab-item {{isActiveRoute 'profile'}} {{isActiveRoute 'me'}}">
							<a href="{{pathFor 'profile'}}">
								<p>Sobre</p>
							</a>
						</li>

						<li class="tab-item {{isActiveRoute 'userCompanies'}}">
							<a href="{{pathFor 'userCompanies'}}">
								<p><strong>{{companiesCount}}</strong></p>
								<p class="text-muted">Organizações</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>

		<section class="clearfix">
			<div class="container">
				{{> yield 'content'}}
			</div>
		</section>
	</section>
</template>