<template name="projects">
	<section id="projects">
		<header class="page-header clearfix {{themeClass}}">
			<div class="container">
				<div class="page-header--info pull-left valign">
					<div class="content">
						<h1>Projetos</h1>
					</div>
				</div>
					
				<div class="page-header--actions pull-right valign">
					<div class="content">
						<a href="{{pathFor 'newProject'}}" class="btn btn-primary btn-fab btn-raised mdi-content-add withripple newProject">
							<div class="ripple-wrapper"></div>
						</a>
					</div>
				</div>

				<div class="page-header--navigation tab-view">
					<ul class="tab-row">
						<li class="tab-item {{isActiveRoute 'projects'}}">
							<a href="{{pathFor 'projects'}}">
								<p><strong>{{myProjectsCount}}</strong></p>
								<p class="text-muted">Meus projetos</p>
							</a>
						</li>

						<li class="tab-item {{isActiveRoute 'allProjects'}}">
							<a href="{{pathFor 'allProjects'}}">
								<p><strong>{{allProjectsCount}}</strong></p>
								<p class="text-muted">Todos</p>
							</a>
						</li>
						<li class="tab-item {{isActiveRoute 'archievedProjects'}}">
							<div>
								<p>Antigos</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</header>

		<article class="content">
			<div class="container">
				{{> yield 'content'}}
			</div>
		</article>
	</section>
</template>