<template name="project">
	<section id="project">
		<header class="page-header clearfix {{themeClass}}">
			<div class="container">
				<div class="page-header--info pull-left valign">
					<div class="content">
						<h1>
							<a href="{{pathFor route='projects'}}">Projetos</a>
							<i class="text-muted mdi-navigation-chevron-right"></i>
							<input id="projectName" type="text" name="name" class="h1" value="{{name}}" placeholder="Nome do projeto" autofocus/>
						</h1>
					</div>
				</div>
					
				{{#if this._id}}
					<div class="page-header--others pull-right valign">
						<div class="content">
							{{> projectCompletedTasksChart projectId=_id size=56 class='pull-right'}}

							<a href="{{pathFor 'company' _id=companyId}}" class="pull-right">
								<img src="{{companyAvatar companyId 56}}" class="avatar avatar-56 img-circle"/>
							</a>

							<a href="{{pathFor 'profile' _id=createdBy}}" class="pull-right">
								<img src="{{userAvatar createdBy 56}}" class="avatar avatar-56 img-circle"/>
							</a>
						</div>
					</div>
				{{/if}}

				{{#if this._id}}
					<div class="page-header--navigation tab-view">
						<ul class="tab-row">
							<li class="tab-item {{isActiveRoute 'project'}}">
								<a href="{{pathFor 'project'}}">
									<p><strong>{{tasksCount}}</strong></p>
									<p class="text-muted">Tarefas</p>
								</a>
							</li>

							<li class="tab-item {{isActiveRoute 'projectDashboard'}}">
								<a href="{{pathFor 'projectDashboard'}}">
									<p>Dashboard</p>
								</a>
							</li>

							<li class="tab-item {{isActiveRoute 'projectReport'}}">
								<a href="{{pathFor 'projectReport'}}">
									<p>Relatório</p>
								</a>
							</li>
						</ul>
					</div>
				{{/if}}
			</div>
		</header>

		<article class="content">
			<div class="container">
				{{> yield 'content'}}
			</div>
		</article>

		{{#if this._id}}
			{{#if canRemoveProject this}}
				<section class="actions clearfix">
					<div class="container">
						<div class="pull-right">
							<button id="removeProject" type="button" class="btn btn-danger mdi-action-delete withripple">
								<div class="ripple-wrapper"></div>
							</button>
						</div>
					</div>
				</section>
			{{/if}}
		{{/if}}
	</section>
</template>