.list-view {
	width: 100%;
	margin: 0 -15px;

	> .item {
		display: table;
		width: 100%;
		padding: 15px 10px;
		border-radius: 3px;

		-webkit-transition: background, 0.1s;
		   -moz-transition: background, 0.1s;
		    -ms-transition: background, 0.1s;
		     -o-transition: background, 0.1s;
		        transition: background, 0.1s;

		&:hover {
			background-color: @dark-transparent-bg-hover;
			text-decoration: none;
		}

		> * {
			display: table-cell;
			vertical-align: middle;

			&.avatar-area:first-child {
				width: calc(56px + 15px);
				padding-right: 15px;
			}

			.title {
				font-size: 20px;
				font-weight: 500;
			}

			.description {
				font-size: 17px;
			}
		}
	}
}