#login, #createFirstCompany {
	padding: 0;
	border: none;

	> div {
		padding: 30px;
		background-color: @dark-transparent-bg;
	}

	input:hover {
		background-color: transparent;
	}

	#avatar-area {
		margin-bottom: 36px;

		.avatar {
			margin-left: 10px;
		}
	}

	.actions {
		margin-top: 36px;
	}
}