<template name="profile">
	<section id="profile" class="well">
		<div class="center-block text-center">
			{{#if isThisMe _id}}
				<a href="http://gravatar.com/" target="_blank"> 
					<img src="{{userAvatar this 150}}" class="avatar avatar-lg img-circle"/>
				</a>

				<input type="text" id="profile-name" name="name" class="profile-input h2 noborder center-block text-center" value="{{profile.name}}" />
			{{else}}
				<img src="{{userAvatar this 150}}" class="avatar avatar-lg img-circle center-block"/>
					
				<h2 id="profile-name" class="center-block text-center">
					<i class="status-icon status-{{#if status.online}}online{{else}}offline{{/if}} mdi-image-brightness-1"></i>
					<span>{{profile.name}}</span>
				</h2>
			{{/if}}
		</div>
	</section>
</template>