<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<title>TOaD - Gerenciamento de Projetos</title>
</head>

<template name="index">
	<header>
		{{> menu}}
	</header>

	<section id="main" class="container">
		{{> yield}}
	</section>

	{{#if error}}
	<section id="messages">
		<div class="navbar navbar-fixed-bottom alert alert-danger alert-dismissible" role="alert">
			<div class="container">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>

				<strong>Oops!</strong> {{error}}
			</div>
		</div>
	</section>
	{{/if}}
</template>